@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* ========================  NAVBAR STYLING  =========================== */

/* ========== FOR DESKTOP ========== */

.navbar input[type='checkbox'],
.navbar .hamburger_lines {
    display: none;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 400%;
    align-items: center;
}

.menu_items{
    order: 2;
    display: flex;
}

.menu_items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.8rem;
}

.logo{
    order: 1;
    font-size: 3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #060e81;
}

/* ========================  SHOWCASE STYLING  =========================== */

.showcase_area{
    height: 50vh;
    background: url("../Images/header-image2.jpg");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    height: 100%;
}

.btn{
    display: inline-block;
    padding: .5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

.main_title{
    text-transform: uppercase;
}

.btn_primary{
    color: #fff;
    background: #16a083;
}

/* ========================  ABOUT US STYLING  =========================== */

#about{
    padding: 50px 0px;
    background: #f5f5f7;
}

.about_wrapper{
    display: flex;
}

#about h2{
    font-size: 3.2rem;
}

#about p{
    font-size: 1.6rem;
    color: #555
}

#about .small{
    font-size: 1.6rem;
    color: #666;
    font-weight: 600;
}

.about_image{
    flex: 1 1 400px;
    padding: 30px;

}

.about_text{
    flex: 1 1 400px;
    padding: 30px;
}

.about_image img{
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}